#common
target/
out/
classes/
stress/logs/
syntax:glob
*.swp
pom.xml.versionsBackup

# Eclipse Project Files
.settings/
.gwt/
.project
.classpath
.externalToolBuilders

# IntelliJ Project Files
*.iml
*.ipr
*.iws
.idea/

# MAC_OSX
*.DS_Store

version.properties
git.properties
